*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "open sans"
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width:1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: rgb(52, 6, 112);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
/*Header*/
header{
    width:100% ;
    height:600px ;
    background: #bfc6c9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #df888137, #b9c2c5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d5847ea5, #6fbbd400), url(../portada.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size:cover;
    background-attachment: fixed;
    position: relative;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{
    color: #bfc6c9 ;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{
    text-decoration: underline;
}
head .textos-header{
    display: flex;
    height:430px ;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
 h1{
    font-size: 50px;
    color:rgb(77, 10, 33) ;
    text-align: center;
}
h2{
    font-size: 30px;
    font-weight: 300;
    color:rgba(41, 3, 76, 0.73) ;
    text-align: center;
    margin: auto;

}
.wave{
    position: absolute;
    bottom: 10px ;
    width: 0%;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-between;
    background: #af5ef1;
    padding: 10px;
    
}
.imagen-about-us{
    width: 50% ;
    height: 50%;
}
.sobre-nosotros .contenido-textos{
    width: 40%;
}
.contenido-textos h3{
    margin-bottom: 25px;
}
.contenido-textos h3 span{
    background: #05131a;
    color: rgb(22, 20, 18);
    border-radius: 50%;
    display: inline-block;
    text-align: justify;
    width: 30px;
    height: 30px;
    padding: 10px;
    box-shadow: 0 0 6px 0 rgb(0, 0, 5);
    margin-right: 10px;
}
.contenido-textos p{
    padding: 5px 10px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
/*Galeria*/
.portafolio{
    background: #c29a9e75;
}
.galeria-port{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-port{
    width: 50%;
    margin-bottom: 15px;
    height: 100;
    overflow:hidden ;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(rgb(65, 47, 47), green, blue, alpha) ;
}
.imagen-port >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    /*transform: scale(0);*/
    background: rgba(168, 112, 213, 0.7);
    color: rgb(249, 11, 11);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column
}
.hover-galeria img{
    width: 50px;
}
.hover-galeria p{
    color: rgb(165, 195, 220);
}
.imagen-port:hover .hover-galeria{
    transform: scale(0);
}
/*clientes*/
.cards{
    background: #f0e8f6;
    display: flex;
    justify-content: space-evenly;
}
.cards.card{
    background: #c412d1;
    background: #3c0668;
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0.6);
}
.cards .card img{
    background: #7cbaad71;
    width: 80%;
    height: 200px;
    object-position: center;
    object-fit: contain;
    display: inline;
}
.cards .card > .contenido-texto-card{
    color: #051b26;
}
.cards .card > .contenido-texto-card p{
    font-weight: 200;
    padding-top: 15px;
}

/*out teamm*/
.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}
.servicio-cont{
    display:flex;
    justify-content: space-between;
    margin: auto;
}
.servicio-ind{
    width: 28%;
    text-align: center;
}
.servicio-ind img{
    width: 90%;
}
.servicio-ind h3{
    margin:10px 0 ;
}
.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}
footer{
    background: #43a1b6 ;
    padding: 60px 0 30px 0; 
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;

}